@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  background-color: #121212;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}

.container {
  display: flex;
  width: 80%;
  justify-content: center;
  background-color: #424242;
  padding: 1rem;
  flex-flow: column;
  align-items: center;
  min-height: 75vh;
}

[contenteditable="true"]:focus {
  background-color: rgb(170, 170, 0);
}

.surface {
  background-color: #627d98;
  color: white;
}

button.primary {
  background-color: #303f9f;
  color: white;
}
button.secondary {
  background-color: #00897d;
  color: white;
}

a {
  color: yellowgreen;
}

.accented {
  background-color: #000;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stack-info {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid white;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 25px;
  padding-right: 25px;
}
table thead tr {
  height: 60px;
  background: #212121;
  font-size: 16px;
}
table tbody tr {
  height: 40px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:hover {
  background-color: #1f2933;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: center;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}

table thead tr th {
  cursor: pointer;
}
